:root {
    /* Primary colors */
    --primary-white: #FFFFFF;
    --primary-caroBlue: #52A4D6;
    --primary-lapLaz: #1D72A6;
    --primary-maasBlue: #082036;
    --primary-black: #0A0A0A;
    --page-bg-color: #C7C7C7;

    /* Secondary colors */
    --secondary-lapLazLight: #D2E3ED;
    --secondary-mayaBlue: #72C1F2;
    --secondary-CBA: #3C8FC2;
    --secondary-darkCeru: #1A4973;
    --secondary-SpaceCadet: #12314D;

    /* Spacing */
    --margin-disabled: 0px;
    --margin-default: 20px;
    --margin-small: 15px;
    --margin-small: 10px;
    --letter-spacing-default: 3%;
    --padding-disabled: 0px;
    --padding-li: 5px;
    --padding-default: 30px;
    --padding-small: 20px;
    --padding-smaller: 15px;
    --padding-smallest: 10px;
    --border-radius-nav: 10px;

    /* Element sizing */
    --fold-max-width: 65%;
    --fold-img-max-width: 300px;

    /* Typography - Headings */

    /* Sizing */
    --size-h1: clamp(4rem, 3.296rem + 3.005vw, 6rem);

    --size-h2: clamp(3rem, 2.472rem + 2.254vw, 4.5rem);

    --size-h3: clamp(2rem, 1.296rem + 3.005vw, 4rem);

    --size-h4: clamp(2rem, 1.648rem + 1.502vw, 3rem);

    /* Typography - Body */

    /* Sizing */
    --size-body-l: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);

    --size-body-m: clamp(1.25rem, 1.074rem + 0.751vw, 1.75rem);

    --size-body-s: clamp(1rem, 0.824rem + 0.751vw, 1.5rem);

    --size-navCtaPretitle: 16px;

    /* Buttons */
    --nav-button-radius: 30px;
}

/* Custom Font*/
@font-face {
    font-family: "DIN 2014";
    src: url("assets/fonts/din-2014.otf");
    }

/* Elemental selectors */
* {
    margin-top: var(--margin-disabled);
    margin-bottom: var(--margin-disabled);
}

body {
    color: var(--primary-white);
    background-color: var(--secondary-SpaceCadet);
    font-family: "DIN 2014";
    letter-spacing: var(--letter-spacing-default);

}

h1 {
    font-size: var(--size-h1);
    font-weight: bold;
}

h2 {
    font-size: var(--size-h2);
    margin-bottom: var(--margin-default);
}

header {
    padding-top: var(--padding-small);
}

li {
    list-style-image: url("assets/icons/fill.svg");
    align-content: center;
    padding: var(--padding-li);
}

/* Header and navigation selectors */
.header-nav {
    display: flex;
    font-size: var(--size-navCtaPretitle);

    @media (width <= 899px) {
        display: none;
    }
}

.nav-links {
    margin-left: auto;
}

.header-nav-link {
    margin-right: var(--margin-small);
    color: var(--primary-white);
    text-decoration: none;
    transition: 0.25s;
}

.header-nav-link:hover {
    color: var(--secondary-mayaBlue);
}

.nav-contact-button {
    font-family: "DIN 2014";
    padding: var(--padding-smaller);
    border: none;
    border-radius: var(--nav-button-radius);
    background-color: var(--primary-caroBlue);
    color: var(--primary-white);
    margin: var(--margin-small);
    margin-left: var(--padding-default);
    transition: 0.25s;
}

.nav-contact-button:hover {
    background-color: var(--secondary-darkCeru);
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main-img-desktop {
    margin-left: var(--margin-small);
    width: 25%;
    filter: invert(100%);
}

.main-img-mobile {
    display: none;
    width: 15%;
    margin: auto;
    margin-bottom: var(--margin-default);
    filter: invert(100%);

    @media (width <= 899px) {
        display: block;
    }
}

/* Mobile navigation selectors */
.nav-button {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-lapLaz);
    cursor: pointer;
    padding: var(--padding-disabled);
    transition: 0.2s;
    z-index: 1;

    @media (width >= 900px) {
        display: none;
    }
}

.nav-button:hover {
    background-color: var(--primary-caroBlue);
}

.nav-button:active {
    background-color: var(--secondary-SpaceCadet);
}

.nav-button-icon {
    width: 75%;
    height: 75%;
    filter: invert(100%);
}

.nav-button-text {
    position: fixed;
    width: 200px;
    top: 65px;
    right: -139px;
    display: flex;
    z-index: 1;
    text-shadow: 1px 1px 2px var(--primary-black);

    /* Mobiele navigatie-tekst verdwijnt bij grotere viewports */
    @media (width >= 900px) {
        display: none;
    }
}

.nav-mobile {
    position: fixed;
    width: 200px;
    top: 13%;
    right: 0px;
    display: flex;
    flex-direction: column;
    z-index: 1;

    /* Easing function waarmee het Disney animatie-principe "Squash and Stretch" wordt uitgewerkt */
    transform: translateX(100%);
    transition: transform 0.35s cubic-bezier(0.3, 0.8, 0.3, 1.5);

    /* Mobiele navigatie verdwijnt bij grotere viewports*/
    @media (width >= 900px) {
        display: none;
    }
}

.nav-mobile.open {
    transform: translateX(15%);
}

.nav-mobile-link {
    background-color: var(--primary-caroBlue);
    color: var(--primary-white);
    font-size: var(--size-navCtaPretitle);
    padding: var(--padding-smallest);
    border: 2px solid;
    border-color: var(--secondary-darkCeru);
    text-decoration: none;
    transition: 0.25s;
}

.nav-mobile-link:hover {
    background-color: var(--secondary-SpaceCadet);
}

.nav-mobile-link:nth-of-type(1) {
    border-top-left-radius: var(--border-radius-nav); 
}

.nav-mobile-link:last-of-type {
    border-bottom-left-radius: var(--border-radius-nav);
}

/* Main selectors */
.main-fold {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-maasBlue);
    padding: var(--padding-small);
    padding-bottom: var(--padding-default);

    @media (width < 1015px) {
        flex-direction: column;
        padding: var(--padding-smallest);
    }    
}

.main-fold.assets-implementation {
    flex-direction: column;
}

#viewer-fold {
    display: flex;
}

.fold-text-container {
    max-width: 65%;
    margin-bottom: var(--margin-default); 

    @media (width < 1015px) {
        max-width: 100%;
    }
}

.heading-small {
    font-size: var(--size-h3);
}

.b-large {
    font-size: var(--size-body-l);
    margin-bottom: var(--margin-default);
}

.b-medium {
    font-size: var(--size-body-m);
}

.b-small {
    font-size: var(--size-body-s);
}

.fold-img-container {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 300px;
    height: auto;
    margin-left: var(--margin-default);

    @media (width < 1015px) {
        margin-left: var(--margin-disabled);
        padding-bottom: var(--padding-default);
    }
}

.fold-img-container.left-sided {
    margin-right: var(--margin-default);
}

.fold-img {
    max-width: var(--fold-img-max-width);
    height: auto;
}

#viewer-container {
    align-self: center;
    width: 300px;
    height: 300px;
    margin-left: var(--margin-default);

    @media (width < 1015px) {
        margin-left: var(--margin-disabled);
    }
}

#configurator-img {
    margin-right: var(--margin-default);
}

.img-process-container {
    display: flex;
    justify-content: center;
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
}

#img-process {
    max-width: 100%;
    height: auto;
}

.discovery {
    margin-top: var(--margin-disabled);
    margin-bottom: var(--margin-disabled);
    background-color: var(--secondary-SpaceCadet);
    padding: var(--padding-default);
    
    & strong {
        color: var(--secondary-mayaBlue);
    }
}

.detail {
    font-size: var(--size-navCtaPretitle);
}

/* Contact selectors */
.contact {
    padding: var(--padding-small);
    background-color: var(--secondary-darkCeru);
    font-weight: lighter;
}

.contactButton {
    font-family: "DIN 2014";
    padding: var(--padding-smaller);
    border: none;
    border-radius: var(--nav-button-radius);
    background-color: var(--primary-maasBlue);
    color: var(--primary-white);
    margin: var(--margin-small);

    transition: 0.25s;
}

.contactButton:hover {
    background-color: var(--primary-caroBlue);
}

.learnMoreButton {
    font-family: "DIN 2014";
    padding: var(--padding-smaller);
    border: solid;
    border-color: var(--primary-maasBlue);
    border-radius: var(--nav-button-radius);
    background-color: var(--secondary-SpaceCadet);
    color: var(--primary-white);
    margin: var(--margin-small);

    transition: 0.25s;
}

.learnMoreButton:hover {
    background-color: var(--primary-caroBlue);
    color: var(--primary-white);
    border-color: var(--primary-white);
}

/* Footer selectors*/
footer {
    background-color: var(--primary-white);
    width: 100%;
    height: 200px;
}

.footer-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-icon {
    display: block;
    padding: var(--padding-small);
    max-width: 25%;
}

.footer-text {
    position: absolute;
    color: var(--secondary-SpaceCadet);
    padding-left: var(--padding-smaller);

    @media (width <= 590px) {
        position: static;
    }
}

.footer-link {
    margin-left: var(--margin-small);
    margin-right: var(--margin-small);
    color: var(--secondary-SpaceCadet);
    text-decoration: none;
    transition: 0.25s;

    @media (width <= 590px) {
        padding: var(--padding-small);
    }
}

.footer-link:hover {
    color: var(--primary-caroBlue);
}


/* Auxiliary classes*/
.reverse {
    flex-direction: row-reverse;
    @media (width < 1015px) {
        flex-direction: column;
    }
}

.hidden {
    display: none;
}