:root {
    /* Primary colors */
    --primary-white: #FFFFFF;
    --primary-caroBlue: #52A4D6;
    --primary-lapLaz: #1D72A6;
    --primary-maasBlue: #082036;
    --primary-black: #0A0A0A;
    --page-bg-color: #C7C7C7;

    /* Secondary colors */
    --secondary-lapLazLight: #D2E3ED;
    --secondary-mayaBlue: #72C1F2;
    --secondary-CBA: #3C8FC2;
    --secondary-darkCeru: #1A4973;
    --secondary-SpaceCadet: #12314D;

    /* Spacing */
    --margin-disabled: 0px;
    --margin-default: 20px;
    --margin-small: 15px;
    --margin-small: 10px;
    --letter-spacing-default: 3%;
    --padding-li: 5px;
    --padding-default: 30px;
    --padding-small: 20px;
    --padding-smaller: 15px;
    --padding-smallest: 10px;

    /* Typography - Headings */

    /* Sizing */
    --size-h1-desktop: 96px;
    --size-h1-tablet: 72px;
    --size-h1-mobile: 64px;

    --size-h2-desktop: 72px;
    --size-h2-tablet: 64px;
    --size-h2-mobile: 48px;

    --size-h3-desktop: 64px;
    --size-h3-tablet: 48px;
    --size-h3-mobile: 32px;

    --size-h4-desktop: 48px;
    --size-h4-tablet: 40px;
    --size-h4-mobile: 32px;

    /* Typography - Body */
    --size-body-l-desktop: 32px;
    --size-body-l-tablet: 28px;
    --size-body-l-mobile: 24px;

    --size-body-m-desktop: 28px;
    --size-body-m-tablet: 24px;
    --size-body-m-mobile: 20px;

    --size-body-s-desktop: 24px;
    --size-body-s-tablet: 20px;
    --size-body-s-mobile: 16px;

    --size-navCtaPretitle: 16px;

    /* Buttons */
    --nav-button-radius: 30px;
}

/* Custom Font*/
@font-face {
    font-family: "DIN 2014";
    src: url("assets/fonts/din-2014.otf");
    }

body {
    color: var(--primary-white);
    background-color: var(--page-bg-color);
    font-family: "DIN 2014";
    letter-spacing: var(--letter-spacing-default);

}

.main-img-mobile {
    display: none;
    width: 10%;
    margin: auto;
    margin-bottom: var(--margin-default);
    filter: invert(100%);
}

.main-img-desktop {
    margin-left: var(--margin-small);
    width: 10%;
    filter: invert(100%);
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

header {
    padding-top: var(--padding-small);
}

.header-nav {
    display: flex;
    font-size: var(--size-navCtaPretitle);
}

.nav-links {
    margin-left: auto;
}

.header-nav-link {
    margin-right: var(--margin-small);
}

.nav-contact-button {
    font-family: "DIN 2014";
    padding: var(--padding-smaller);
    border: none;
    border-radius: var(--nav-button-radius);
    background-color: var(--primary-caroBlue);
    color: var(--primary-white);
    margin: var(--margin-small);
    margin-left: var(--padding-default);
}

* {
    margin-top: var(--margin-disabled);
    margin-bottom: var(--margin-disabled);
}

.b-large {
    font-size: var(--size-body-l-desktop);
    margin-bottom: var(--margin-default);
}

.b-medium {
    font-size: var(--size-body-m-desktop);
}

.b-small {
    font-size: var(--size-body-s-desktop)
}

.viewer-container {
    display: inline;
}

.img-process {
    display: flex;
    justify-content: center;
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
    width: 100%;
}

.contact {
    padding: var(--padding-small);
    background-color: var(--secondary-darkCeru);
    font-weight: lighter;
}

footer {
    background-color: var(--primary-white);
    width: 100%;
    height: 200px;
}

.footer-text {
    position: absolute;
    color: var(--secondary-SpaceCadet);
    padding-left: var(--padding-smaller);
}

.footer-link {
    margin-left: var(--margin-small);
    margin-right: var(--margin-small);
    color: var(--secondary-SpaceCadet);

}

.footer-icon {
    display: block;
    padding: var(--padding-small);
    max-width: 25%;
}

.footer-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

li {
    list-style-image: url("assets/icons/fill.svg");
    align-content: center;
    padding: var(--padding-li);
    list-style-position: inside;
}

h1 {
    font-size: var(--size-h1-desktop);
    font-weight: bold;
}

h2 {
    font-size: var(--size-h2-desktop);
    margin-bottom: var(--margin-default);
}

.main-fold {
    background-color: var(--primary-maasBlue);
    padding: var(--padding-small);
}

.heading-small {
    font-size: var(--size-h3-desktop);
}

.reverse {
    text-align: right;
}

.discovery {
    margin-top: var(--margin-disabled);
    margin-bottom: var(--margin-disabled);
    background-color: var(--secondary-SpaceCadet);
    
    & strong {
        color: var(--primary-caroBlue);
    }

    padding: var(--padding-default);
}

.detail {
    font-size: var(--size-navCtaPretitle);
}

.contactButton {
    font-family: "DIN 2014";
    padding: var(--padding-smaller);
    border: none;
    border-radius: var(--nav-button-radius);
    background-color: var(--primary-caroBlue);
    color: var(--primary-white);
    margin: var(--margin-small);
}

.learnMoreButton {
    font-family: "DIN 2014";
    padding: var(--padding-smaller);
    border: solid;
    border-color: var(--primary-caroBlue);
    border-radius: var(--nav-button-radius);
    background-color: var(--secondary-darkCeru);
    color: var(--primary-caroBlue);
    margin: var(--margin-small);
}

/* Media Queries */
@media (width <= 899px) {

    .header-nav {
        display: none;
    }

    .main-img-mobile{
        display: block;
    }

    h1 {
        font-size: var(--size-h1-mobile);
    }

    h2 {
        font-size: var(--size-h2-mobile);
    }

    .heading-small {
        font-size: var(--size-h2-mobile);
    }

    .b-large {
        font-size: var(--size-body-l-mobile);
    }

    .b-medium {
        font-size: var(--size-body-m-mobile);
    }
    
    .b-small {
        font-size: var(--size-body-s-mobile);
    }
    
    .discovery {
        font-size: var(--size-h2-mobile);
    }
}

@media screen and (900px <= width <= 1194px) {

}

@media screen and (width <= 590px) {
    .footer-text {
        position: static;
    }

    .footer-link {
        padding: var(--padding-small);
    }
}